
button{	
   width: 140px;
   height: 30px;
   
   margin-left: 4px;
   text-align: center;
   color: rgb(15, 15, 111);
   background-color: rgb(241, 146, 178);
   border-radius: 10px;
   font-size: 16px;
 }
 
 
 .walletCard {	
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    background-color: #A1C6EA;	
    filter: drop-shadow(33px 28px 28px #011161);
    padding: 20px;
 }
 
 
 
 .r{
    width: 80%; 
    font-size: 20px;
 }
 
 input{
    width: 300px;
    padding:9px;
    border-radius: 5px;
    background-color: aquamarine;
    margin-left: 3px;
 }
 .address{
    margin: auto;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid rebeccapurple;
    border-radius: 6px;
    background-color:#83ffc3 ;
 }
 
 /* Всплывающим окном - может быть везде, где угодно */
 .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }
   
   /* Фактическое всплывающее окно */
   .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
   }
   
   /* Всплывающее окно со стрелками */
   .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
   }
   
   /* Переключите этот класс - скрыть и показать всплывающее окно */
   .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
   }
   
   /* Добавить анимацию (исчезает во всплывающем окне) */
   @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
   }
   
   @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
   }